.footerParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 80rem; */
  /* height: 13rem; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem; 
  padding-left: 1rem; 
  padding-right: 1rem;
}
.footerImg {
  width: 10%;
}

@media (max-width: 768px) {
    .footerParent {
      display: flex;
      flex-direction: column;
      height: 500px;
      
    }
    .footerImg {
      width: 50%;
      margin-left: 20px;
    }
    li {
        text-align: center;
    }
  }