@media (max-width: 768px) {
    .footerParent {
      display: flex;
      flex-direction: column;
      height: 500px;
      
    }
    .footerImg {
      width: 50%;
      margin-left: 20px;
    }
    li {
        text-align: center;
    }
  }